#define ZMK_POINTING_DEFAULT_SCRL_VAL 320

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <4>;
        };

        mouseButton {
            bindings = <&none>;
            key-positions = <35 34 33 36 48 20>;
        };

        shift_ctrl_keys {
            bindings = <&none>;
            key-positions = <39 50 56>;
        };

        EnableBTlaye {
            bindings = <&mo 6>;
            key-positions = <58 59>;
        };

        Right_Gui_Key {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <64 63>;
        };

        Left_GUI_Key {
            bindings = <&kp LEFT_GUI>;
            key-positions = <53 54>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        L0_base {
            bindings = <
&kp ESC      &kp N1      &kp N2   &kp N3        &kp N4            &kp N5                                        &kp N6       &kp N7  &kp N8     &kp N9     &kp N0                 &kp MINUS
&kp TAB      &kp Q       &kp W    &kp E         &kp R             &kp T                                         &kp Y        &kp U   &kp I      &kp O      &kp P                  &kp BSPC
&kp RCTRL    &kp A       &kp S    &kp D         &kp F             &kp G        &mkp LCLK       &mkp RCLK        &kp H        &kp J   &kp K      &kp L      &lt 1 SEMICOLON        &kp SQT
&kp LSHFT    &kp Z       &kp X    &kp C         &kp V             &kp B        &kp BACKSPACE   &kp RIGHT_SHIFT  &kp N        &kp M   &kp COMMA  &kp DOT    &mt RIGHT_SHIFT SLASH  &kp RSHFT
&lt 1 SPACE  &kp ESCAPE  &kp TAB  &kp LEFT_ALT  &kp LEFT_CONTROL  &lt 4 SPACE  &kp LEFT_SHIFT  &lt 3 LC(SPACE)  &lt 5 ENTER  &trans  &trans     &kp MINUS  &mt RIGHT_ALT GRAVE    &mt RIGHT_ALT GRAVE
            >;
        };

        L1_mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &mkp MB5        &msc SCRL_UP    &mkp MB4         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK       &mkp MCLK       &mkp RCLK        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans          &trans           &trans  &trans
            >;
        };

        L2_scroller {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        L3_number {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans                        &trans        &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&trans  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };

        L4_symbol {
            bindings = <
&trans  &trans            &trans            &trans          &trans           &trans                             &trans            &trans            &trans             &trans                &trans               &trans
&trans  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(N3)      &kp LS(N4)       &kp LS(N5)                         &kp LS(NUMBER_6)  &kp LS(N7)        &kp LS(NUMBER_8)   &kp LS(NUMBER_9)      &kp LS(NUMBER_0)     &kp DEL
&trans  &kp PIPE          &trans            &kp UP_ARROW    &kp LEFT_BRACE   &kp RIGHT_BRACE    &trans  &trans  &kp PLUS          &kp MINUS         &kp EQUAL          &kp NON_US_BACKSLASH  &kp GRAVE            &trans
&trans  &kp COLON         &kp LEFT_ARROW    &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp DOUBLE_QUOTES  &trans  &trans  &trans            &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SEMICOLON         &mt RIGHT_SHIFT SQT  &trans
&trans  &trans            &trans            &trans          &trans           &trans             &trans  &trans  &trans            &trans            &trans             &trans                &trans               &trans
            >;
        };

        L5_function {
            bindings = <
&trans  &trans   &trans          &trans          &trans           &trans                      &trans    &trans         &trans          &trans          &trans           &trans
&trans  &kp F1   &kp F2          &kp F3          &kp F4           &kp F5                      &kp F6    &kp F7         &kp F8          &kp F9          &kp F10          &trans
&trans  &kp F11  &kp F12         &kp UP_ARROW    &trans           &trans  &trans      &trans  &kp HOME  &kp PG_UP      &trans          &kp UP_ARROW    &trans           &trans
&trans  &trans   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &kp DELETE  &trans  &kp END   &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans   &trans          &kp LEFT_GUI    &trans           &trans  &trans      &trans  &trans    &trans         &trans          &trans          &trans           &trans
            >;
        };

        L6_bt {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans                                    &trans         &trans         &trans         &trans         &trans         &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                              &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans         &trans         &trans         &trans         &trans         &trans
&trans  &trans        &trans        &bt BT_CLR    &trans        &trans        &out OUT_BLE  &out OUT_USB  &trans         &trans         &trans         &trans         &trans         &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans         &trans         &trans         &trans         &trans         &trans
            >;
        };
    };
};
