
#include "../../../config/keymap.keymap"

/ {
    /* 入力プロセッサのインスタンスを作成 */
    zip_temp_layer_mouse: zip_temp_layer_mouse {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>; // layer と timeout の2つの引数を取る
    };
};
