#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

// AML用の設定
&zip_temp_layer {
    // AML on のしきい値(ms)
    require-prior-idle-ms = <400>;
    // mouse click keys (key番号はCOMBOで確認可能)
    excluded-positions = <35 34 33 58 56 19 21 20 48 47 49 27 28 16 15 14 26 40 41 42 57 60>;
    //excluded-positions = <35 34 33 58 56 19 21>;
};

// [未完成] Scrollレイヤー時のみトラックボールでスクロール
/*
&pointing_listener {
    
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 1 10000
    >;
    
    scroller = {
        layer = <2>;
        // x1.5 speed
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_scaler 3 2
        >;
    };
};
*/

&pointing_listener {
    // AML無し設定
    //input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;

    // AML有り設定  ($zip_temp_layer <layer_num> <timeout[ms]>)
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 1 10000
    >;
    
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
